.bot-menu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bot-menu .speach-boubble {
    padding: 8px;
    color: #fff;
    max-width: 95%;
    margin: 20px 0;
    position: relative;
    border-radius: 15px;
    background: #457bc9;
}

.bot-menu .speach-boubble:after {
    left: 40%;
    top: -8px;
    content: "";
    position: absolute;
    border-bottom: 20px solid #457bc9;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.bot-menu img {
    padding: 2px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 10px;
    transition: 400ms;
    border-radius: 50%;
    border: 3px dotted #003580;
}

.bot-menu img:hover {
    filter: saturate(150%);
    transform: rotate(-360deg);
}

.bot-menu form {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.bot-menu form input[type=text] {
    width: 130px;
    border-radius: 10px 0 0 10px;
}

.bot-menu form input[type=submit] {
    width: 40px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #457bc9;
    border-radius: 0 10px 10px 0 !important;
}

.bot-menu form input[type=submit]:focus {
    border-color: #003d92;
    background-color: #003d92;
}

.bot-menu input {
    outline: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #457bc9;
}

.bot-menu input:focus {
    border: 2px solid #457bc9;
}

.bot-menu a {
    margin: 5px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.bot-menu #logout {
    font-weight: bolder;
    color: red !important;
}

.bot-menu #credits {
    margin-top: 10px;
    color: #00000070;
    text-align: justify;
}

.bot-menu #credits a {
    display: block;
    color: #457bc9;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
}

html { height: 95% }
#popup { height: 100% !important; }
.bot-menu #botNavigation { display: none; }